.box{
    width: 320px;
    height: 260px;
    background-color:rgb(232, 232, 232);
    margin-top: 130px;
    margin-left: 600px;
    border-radius: 5px;
}
.form{
    padding-top: 20px;
    padding-left: 15px;
}
form input[type="text"]{
    width: 250px;
    height: 30px;
}
form button{
    width: 130px;
    height: 40px;
    background-color: rgb(44, 222, 118);
    border-radius: 5px;
    border-color: rgb(232, 232, 232);
}